<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Chapter</key>
		<string>DEPARTURE</string>
		<key>Brief Narrative</key>
		<string>Around 724, a twenty-year-old Korean monk named Hyecho set out on one of the most extraordinary journeys in history, traveling from China in the East to Arabia in the West and then back to China in only three years. We invite you to follow Hyecho on his pilgrimage, not across Asia, but through the Freer|Sackler Galleries, not for three years but for just a few moments. </string>
		<key>Nav Bar Color</key>
		<string>803336</string>
		<key>Intro Screen Color</key>
		<string>8E191C</string>
		<key>Background Image</key>
		<string>Chapter 1 Background</string>
		<key>Not Expanded</key>
		<string>Chapter 1 Plus</string>
		<key>Expanded</key>
		<string>Chapter 1 Minus</string>
		<key>Maps</key>
		<dict>
			<key>Directions</key>
			<array>
				<string>Turn around to face the short wall with the title, “Guardians and Guides.”</string>
				<string>Turn right and walk through the “Bodhisattvas” section, passing the large drawing </string>
				<string>and entering the “Dharma: The Teachings” section.</string>
				<string>The green Medicine Buddha is in the middle of the gallery.</string>
			</array>
			<key>Map Linear</key>
			<string>Chapter 1 Map Linear</string>
			<key>Map Sackler CYO</key>
			<string>Chapter 1 Map CYO</string>
			<key>Map Sackler CYO Center</key>
			<integer>655</integer>
			<key>Map Ground CYO</key>
			<string>Chapter 1-8 Middle</string>
			<key>Map Ground CYO Center</key>
			<integer>312</integer>
			<key>Map Freer CYO</key>
			<string>Chapter 1-6 Freer</string>
			<key>Map Freer CYO Center</key>
			<integer>312</integer>
		</dict>
		<key>Text</key>
		<array>
			<dict>
				<key>Header Name</key>
				<string>ART</string>
				<key>Text</key>
				<string>Because Hyecho did not stay long enough to learn the languages of South Asia, many of his encounters with the Buddha occurred through art and architecture. Many of the objects in the Freer|Sackler Galleries either come from or depict places that he visited on his journey. We have selected eight works—six here in Encountering the Buddha and two upstairs in the Freer—which help us understand how Buddhist art formed, and informed, Buddhist practice. Hyecho will lead us on our pilgrimage. </string>
			</dict>
			<dict>
				<key>Header Name</key>
				<string>PILGRIMAGE</string>
				<key>Text</key>
				<string>Over many centuries and throughout Asia, pilgrimage has been a key form of Buddhist practice. On his deathbed, the Buddha is said to have recommended pilgrimage to the sites of the major events of his life. Many monks set off from China for the Buddhist holy land in India. However, none traveled as far, and in such a short period of time, as Hyecho. Yet he was not renowned during his lifetime. His remarkable story only became known in 1908, when a fragment of his travel journal was discovered in a cave temple in western China. </string>
			</dict>
		</array>
		<key>Object Info</key>
		<dict>
			<key>Name</key>
			<string>Buddhist Monk Standing on Lotus</string>
			<key>Location</key>
			<string>China</string>
			<key>Period</key>
			<string>Tang Dynasty</string>
			<key>Brief Intro</key>
			<string>This small sculpture, only nineteen inches high, was made in China during the Tang dynasty. It may have been made during Hyecho’s lifetime. It is, however, not a sculpture of Hyecho; he was not famous enough to be depicted in painting or bronze. In fact, this monk has not been identified. We have chosen it as an avatar of Hyecho, who will be our guide. </string>
			<key>Additional Info</key>
			<dict>
				<key>Header Name</key>
				<string>A YOUNG MONK</string>
				<key>Text</key>
				<string>The sculpture is made of bronze. Over the centuries it has developed a dark green patina. It shows a Buddhist monk standing on a lotus blossom. The lotus is an important symbol in Buddhism. It grows from the muddy bottom of a pond to blossom above the surface, but its petals are unsullied by the murky waters. In the same way, the Buddha appears in the world of suffering but escapes from it. Yet out of compassion, he remains rooted in the world. On the blossom stands a monk, with a shaved head and dressed in robes. His hands are joined in greeting. Hyecho invites us to join him on his pilgrimage.  </string>
			</dict>
			<key>ImagePath</key>
			<string>Figure_Of_A_Buddhist_Monk_Standing_On_A_Lotus</string>
		</dict>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>HEALING</string>
		<key>Brief Narrative</key>
		<string>Hyecho traveled from China to India by sea. By the eighth century, there were well-established trade routes between the two countries. An important stop along the voyage was the island of Sumatra in modern Indonesia. During Hyecho’s time, it was a thriving center of Buddhism, with many monks and temples. </string>
		<key>Nav Bar Color</key>
		<string>75967C</string>
		<key>Intro Screen Color</key>
		<string>1D674C</string>
		<key>Background Image</key>
		<string>Chapter 2 Background</string>
		<key>Not Expanded</key>
		<string>Chapter 2 Plus</string>
		<key>Expanded</key>
		<string>Chapter 2 Minus</string>
		<key>Maps</key>
		<dict>
			<key>Directions</key>
			<array>
				<string>Turn around to face the short wall with the title, “Guardians and Guides.”</string>
				<string>Turn right. Walk through the “Bodhisattvas” section and around the wall.</string>
				<string>In the center of the “Dharma” room is the green Medicine Buddha.</string>
			</array>
			<key>Map Linear</key>
			<string>Chapter 2 Map Linear</string>
			<key>Map Sackler CYO</key>
			<string>Chapter 2 Map CYO</string>
			<key>Map Sackler CYO Center</key>
			<integer>655</integer>
			<key>Map Ground CYO</key>
			<string>Chapter 1-8 Middle</string>
			<key>Map Ground CYO Center</key>
			<integer>312</integer>
			<key>Map Freer CYO</key>
			<string>Chapter 1-6 Freer</string>
			<key>Map Freer CYO Center</key>
			<integer>312</integer>
		</dict>
		<key>Text</key>
		<array>
			<dict>
				<key>Header Name</key>
				<string>OCEAN TRAVEL</string>
				<key>Text</key>
				<string>Long before Hyecho set out to sea, ocean travel was a common theme in Buddhist scriptures. In ancient times, oceans were perceived as perilous places: sailors feared shipwrecks, pirates, sea monsters, and disease. From an early period, Buddhism was associated with maritime merchants, and there are many stories about sea adventures, with Buddhist monks and nuns playing lead roles. They would often be called upon to offer prayers for protection. It seems that sculptures of Buddhist deities also went on pilgrimage, being carried by pilgrims to help them reach their destination. </string>
			</dict>
			<dict>
				<key>Header Name</key>
				<string>MEDICINAL RITUALS</string>
				<key>Text</key>
				<string>The form of Buddhism that Hyecho followed was the Mahayana, literally the “Great Vehicle.” Mahayana followers venerate many buddhas in addition to Shakyamuni, the Historical Buddha. One of the most famous buddhas is Bhaishajyaguru, literally “Medicine Teacher,” often called the “Medicine Buddha” or the “Healing Buddha.” Said to have the power to cure illness and offer protection from hunger, thirst, cold, and insects, he is worshiped throughout East Asia and Tibet. He is said to be blue and to reside in a land called Pure Lapis Lazuli. Although he appeared first in Indian Buddhism, he was well known in Sumatra.  </string>
			</dict>
		</array>
		<key>Object Info</key>
		<dict>
			<key>Name</key>
			<string>Medicine Buddha Bhaishajyaguru</string>
			<key>Location</key>
			<string>Indonesia</string>
			<key>Period</key>
			<string>8th - 9th Century</string>
			<key>Brief Intro</key>
			<string>This is a statue of the Medicine Buddha. It comes from Indonesia and dates from Hyecho’s time. It is similar to images likely seen, and perhaps worshiped by the Korean pilgrim during his stay in Sumatra. </string>
			<key>Additional Info</key>
			<dict>
				<key>Header Name</key>
				<string>HEALING OBJECTS</string>
				<key>Text</key>
				<string>The sculpture is made of bronze and is about twelve inches tall. The Medicine Buddha is seated on a lotus throne. In his left hand, he holds a book. In his right hand, he holds a myrobalan fruit, long used in traditional Indian medicines. Behind him is a halo; tongues of flame are visible around its edge.  Above is a parasol, commonly placed above buddha images and stupas.  On the back of the halo, someone has engraved the so-called ye dharma formula, the famous summary of the Buddha’s teaching that is explained in the film projected behind the sculpture.  </string>
			</dict>
			<key>ImagePath</key>
			<string>Medicine_Buddha</string>
		</dict>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>DISCOURSE</string>
		<key>Brief Narrative</key>
		<string>Hyecho also visited the site of some of the Buddha’s most famous discourses. A discourse of the Buddha is called a “sutra.” The Buddha himself never wrote anything. His teachings, delivered over a period of forty-five years, were remembered by his disciples. A standard element of any sutra is the name of the place where it was delivered. One such place was a mountain called Vulture Peak, which became a famous place of pilgrimage.</string>
		<key>Nav Bar Color</key>
		<string>875085</string>
		<key>Intro Screen Color</key>
		<string>5F2757</string>
		<key>Background Image</key>
		<string>Chapter 4 Background</string>
		<key>Not Expanded</key>
		<string>Chapter 4 Plus</string>
		<key>Expanded</key>
		<string>Chapter 4 Minus</string>
		<key>Maps</key>
		<dict>
			<key>Directions</key>
			<array>
				<string>Walk back into the main exhibition space, toward “The Buddha” section.</string>
				<string>Walk toward the second pillar, near the door to &quot;Sri Lanka’s Great Stupa.&quot;</string>
				<string>The two buddhas sit together inside the case at the front of the pillar.</string>
			</array>
			<key>Map Linear</key>
			<string>Chapter 3 Map Linear</string>
			<key>Map Sackler CYO</key>
			<string>Chapter 3 Map CYO</string>
			<key>Map Sackler CYO Center</key>
			<integer>655</integer>
			<key>Map Ground CYO</key>
			<string>Chapter 1-8 Middle</string>
			<key>Map Ground CYO Center</key>
			<integer>312</integer>
			<key>Map Freer CYO</key>
			<string>Chapter 1-6 Freer</string>
			<key>Map Freer CYO Center</key>
			<integer>312</integer>
		</dict>
		<key>Text</key>
		<array>
			<dict>
				<key>Header Name</key>
				<string>A NEW TEACHING</string>
				<key>Text</key>
				<string>For Hyecho, perhaps the most famous teaching delivered by the Buddha on Vulture Peak was the Lotus Sutra, a work that was especially influential in East Asia. It is known for two doctrines. The first is that there is only one vehicle to enlightenment, which will take all beings to buddhahood. The second is that although the Buddha appears to pass into nirvana, his lifespan is in fact immeasurable. These doctrines were considered so revolutionary that when the Buddha taught them, all manner of miracles occurred. In one, two buddhas sat side by side.</string>
			</dict>
			<dict>
				<key>Header Name</key>
				<string>TWO BUDDHAS</string>
				<key>Text</key>
				<string>At a pivotal moment in the Lotus Sutra, there is a great rumbling, and a giant stupa, a structure usually housing a relic of a buddha, emerges from the earth and floats in the sky. A voice is heard from inside. When the Buddha of our world, Shakyamuni, opens the door, he finds not a typical relic—a bone or a tooth—but a living buddha, named Prabhutaratna. Prabhutaratna then invites Shakyamuni to sit next to him inside the stupa, a scene that challenges the doctrine that two buddhas may not inhabit the same world at the same time. </string>
			</dict>
		</array>
		<key>Object Info</key>
		<dict>
			<key>Name</key>
			<string>The Buddhas Prabhutaratna and Shakyamuni</string>
			<key>Location</key>
			<string>China</string>
			<key>Period</key>
			<string>Sui Dynasty, 609</string>
			<key>Brief Intro</key>
			<string>The sight of two buddhas seated side by side is one of the most powerful scenes in Buddhist literature. It is often depicted in the Buddhist art of China, Korea, and Japan. This image comes from China. The two buddhas are made of gilt bronze and are seated within a stupa-shaped halo. </string>
			<key>Additional Info</key>
			<dict>
				<key>Header Name</key>
				<string>REBIRTH</string>
				<key>Text</key>
				<string>The framing around the buddhas is meant to represent the door of Prabhutaratna’s stupa. On the back there is an inscription, rather crudely scratched into the base, stating that the statue of the two buddhas was made in 609 by “the devoted religious daughter Zhang Pengle” for her father and her mother. The inscription means that the statue was commissioned by her. Her motivation was likely to create merit or good karma, which she would dedicate to the welfare of her parents so that they would have a happy rebirth in the next lifetime.  </string>
			</dict>
			<key>ImagePath</key>
			<string>The_Buddhas_Prabhutaratna_And_Sakyamuni_Seated_Sided_By_Side</string>
		</dict>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>CROSSING</string>
		<key>Brief Narrative</key>
		<string>Hyecho’s journey took him to what is today Afghanistan and Pakistan, at the time a flourishing region of Buddhist practice. Although today we tend to associate these countries with Islam, for centuries they were the site of major centers of Buddhist thought and practice, especially a region called Gandhara. Because many trade routes passed through it, Gandhara was an important source of Buddhism in China. Hyecho spent many days visiting monasteries there. </string>
		<key>Nav Bar Color</key>
		<string>618592</string>
		<key>Intro Screen Color</key>
		<string>306A80</string>
		<key>Background Image</key>
		<string>Chapter 3 Background</string>
		<key>Not Expanded</key>
		<string>Chapter 3 Plus</string>
		<key>Expanded</key>
		<string>Chapter 3 Minus</string>
		<key>Maps</key>
		<dict>
			<key>Directions</key>
			<array>
				<string>Turn to the right and proceed into “The Buddha” section.</string>
				<string>Walk to the four Buddha heads along the far wall.</string>
				<string>The head from ancient Gandhara is among them.</string>
			</array>
			<key>Map Linear</key>
			<string>Chapter 4 Map Linear</string>
			<key>Map Sackler CYO</key>
			<string>Chapter 4 Map CYO</string>
			<key>Map Sackler CYO Center</key>
			<integer>655</integer>
			<key>Map Ground CYO</key>
			<string>Chapter 1-8 Middle</string>
			<key>Map Ground CYO Center</key>
			<integer>312</integer>
			<key>Map Freer CYO</key>
			<string>Chapter 1-6 Freer</string>
			<key>Map Freer CYO Center</key>
			<integer>312</integer>
		</dict>
		<key>Text</key>
		<array>
			<dict>
				<key>Header Name</key>
				<string>BIRTH STORIES</string>
				<key>Text</key>
				<string>As Buddhism spread across India, beyond the small region of the Buddha’s own travels, it became important to establish his presence in the landscape. There were two primary means for doing so: stories and art. The path to buddhahood requires millions of lifetimes, and Buddhists tell stories about the Buddha’s past lives, sometimes as a human, sometimes as an animal. Hyecho knew many of these stories, called jatakas, or “birth stories” and knew that several of the most famous ones are set in Gandhara in ages past.</string>
			</dict>
			<dict>
				<key>Header Name</key>
				<string>THE BUDDHA IMAGE</string>
				<key>Text</key>
				<string>Despite the ubiquity of images of the Buddha today, the first figural sculptures of the Buddha did not appear until the first centuries of the Common Era, some five hundred years after his death. There were many Buddhist carvings prior to this period, but the Buddha was always absent, sometimes represented by an empty throne, sometimes by a large wheel. Scholars continue to debate why the Buddha was not depicted for so long and why he then began to be depicted so often. The region of Gandhara played an important role in the development of the earliest Buddha images.  </string>
			</dict>
		</array>
		<key>Object Info</key>
		<dict>
			<key>Name</key>
			<string>Head of Buddha</string>
			<key>Location</key>
			<string>Pakistan/Afghanistan</string>
			<key>Period</key>
			<string>Kushan Dynasty, 3rd century</string>
			<key>Brief Intro</key>
			<string>Visitors may think that this stone sculpture of the Buddha, dating from the third century CE, looks Greek. Indeed, Alexander the Great (356-323 BCE) invaded India, and Greek colonies flourished there for centuries. Some scholars have speculated that some of the first Buddha images were inspired by Greek models.</string>
			<key>Additional Info</key>
			<dict>
				<key>Header Name</key>
				<string>DEPICTION</string>
				<key>Text</key>
				<string>The Buddha’s body was described as having the “thirty-two major marks” and “eighty secondary marks” of a superman, one of which is the “crown protrusion” on his head, which appears as a bump of flesh or even bone in later depictions. This early image, the head of what would have been a larger sculpture, suggests that this bump began simply as a hairstyle, with the Buddha’s wavy locks tied in a bun on the top of his head. Other marks of beauty are also evident here, such as the dot between his eyes, his high nose, and his long earlobes. </string>
			</dict>
			<key>ImagePath</key>
			<string>Head_Of_The_Buddha</string>
		</dict>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>OASIS</string>
		<key>Brief Narrative</key>
		<string>As Hyecho made his way back to China, he passed through the kingdom of Kucha, a region famous for its extensive cave temples. Once a major center of Buddhism along the Silk Road, Kucha is located in what is today the Uighur Autonomous Region of Xinjiang Province in China. The painted murals of the Kizil caves are among the greatest artistic treasures in the Buddhist world. </string>
		<key>Nav Bar Color</key>
		<string>457296</string>
		<key>Intro Screen Color</key>
		<string>124C75</string>
		<key>Background Image</key>
		<string>Chapter 5 Background</string>
		<key>Not Expanded</key>
		<string>Chapter 5 Plus</string>
		<key>Expanded</key>
		<string>Chapter 5 Minus</string>
		<key>Maps</key>
		<dict>
			<key>Directions</key>
			<array>
				<string>Turn to the left and proceed past the door to “Sri Lanka’s Great Stupa.&quot;</string>
				<string>Continue toward the large map in the “Crossing Borders” section.</string>
				<string>The mural fragment depicting two assemblies is directly to the map&amp;#39;s left.</string>
			</array>
			<key>Map Linear</key>
			<string>Chapter 5 Map Linear</string>
			<key>Map Sackler CYO</key>
			<string>Chapter 5 Map CYO</string>
			<key>Map Sackler CYO Center</key>
			<integer>655</integer>
			<key>Map Ground CYO</key>
			<string>Chapter 1-8 Middle</string>
			<key>Map Ground CYO Center</key>
			<integer>312</integer>
			<key>Map Freer CYO</key>
			<string>Chapter 1-6 Freer</string>
			<key>Map Freer CYO Center</key>
			<integer>312</integer>
		</dict>
		<key>Text</key>
		<array>
			<dict>
				<key>Header Name</key>
				<string>PERILOUS JOURNEY</string>
				<key>Text</key>
				<string>As Hyecho traveled east back to China, he had to traverse some of the most desolate and difficult terrain in the world. He met a Chinese envoy traveling in the other direction on his way to a foreign land. The envoy seems to have complained about the difficulties of the long road, likely not knowing that this would elicit little sympathy from the young Korean monk. Indeed, Hyecho was moved to write a poem about his encounter.</string>
				<key>EnglishPoem</key>
				<string>You bemoan the distance to the frontier in the west. 
I lament the long road east. 
Rugged roads cross colossal snowy ridges, 
Dangerous ravines where bandits wander. 
Even birds in flight fear the soaring cliffs. 
Travelers struggle over tilting bridges.  
I have never cried once in my life. 
Today I shed a torrent of tears. 
</string>
				<key>ChinesePoem</key>
				<string>君恨西蕃遠 余嗟東路長

道荒宏雪嶺 險澗賊途倡

鳥飛驚峭嶷 人去偏樑難

平生不捫淚 今日灑千行
</string>
			</dict>
			<dict>
				<key>Header Name</key>
				<string>CAVE SITES</string>
				<key>Text</key>
				<string>The Kizil caves are magnificent testaments to the international character of Buddhism during Hyecho’s time, with murals with imagery and ideas from India, Persia, and China. There are thirteen cave temple sites in modern Xinjiang province, with 236 caves at Kizil alone. These caves seem to have served both as temples and as dwellings for monks. Those that served as ritual spaces tended to be painted; those that were used as residences often were not. Since Hyecho visited Kucha, he presumably visited Kizil, although he does not mention the caves in the extant pages of his travel journal.  </string>
			</dict>
		</array>
		<key>Object Info</key>
		<dict>
			<key>Name</key>
			<string>Fragment From The Kizil Caves</string>
			<key>Location</key>
			<string>Kucha, Xinjiang</string>
			<key>Period</key>
			<string>4th-6th Century</string>
			<key>Brief Intro</key>
			<string>In Kucha, Hyecho reached one of the western outposts of China’s Tang dynasty. Kucha was an important center of Buddhist thought and practice; many Sanskrit manuscripts have been discovered there. Hyecho reports the presence of several monasteries, with communities of both foreign and Chinese monks. </string>
			<key>Additional Info</key>
			<dict>
				<key>Header Name</key>
				<string>HOMAGE</string>
				<key>Text</key>
				<string>This fragment from a cave mural is plaster on gypsum. It shows a woman dancing. Next to the dancing figure is a woman holding a blue bowl. On the right, a bearded monk, dressed in a patchwork robe, stands holding a monk’s staff. His beard and protruding ribs suggest that he may be an ascetic. That same monk appears at the far right, now kneeling in homage to the Buddha. The heads of other monks and deities are also visible. These and other scenes from cave 224 depict the conversions of the Buddha’s famous disciples.</string>
			</dict>
			<key>ImagePath</key>
			<string>Fragment_From_The_Kizil_Caves</string>
		</dict>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>DISTANT</string>
		<key>Brief Narrative</key>
		<string>Much of Hyecho’s journey followed the traditional pilgrimage routes traveled by his predecessors—that is, until the moment when, for reasons unknown, he ventured westward out of the world of Buddhism and into the new world of Islam. In Iran, Hyecho observed that the people still “served Heaven,” referring to Zoroastrianism, the religion of the Sasanian Empire.</string>
		<key>Nav Bar Color</key>
		<string>8F7499</string>
		<key>Intro Screen Color</key>
		<string>853D84</string>
		<key>Background Image</key>
		<string>Chapter 6 Background</string>
		<key>Not Expanded</key>
		<string>Chapter 6 Plus</string>
		<key>Expanded</key>
		<string>Chapter 6 Minus</string>
		<key>Maps</key>
		<dict>
			<key>Directions</key>
			<array>
				<string>Turn around and walk to the right past the “Tibetan Buddhist Shrine Room.”</string>
				<string>Exit the gallery and walk across the hallway into “Feast Your Eyes.”</string>
				<string>Continue through the first room and into the second.</string>
				<string>The silver ewer is inside a case at the back, center of the gallery.</string>
			</array>
			<key>Map Linear</key>
			<string>Chapter 6 Map Linear</string>
			<key>Map Sackler CYO</key>
			<string>Chapter 6 Map CYO</string>
			<key>Map Sackler CYO Center</key>
			<integer>300</integer>
			<key>Map Ground CYO</key>
			<string>Chapter 1-8 Middle</string>
			<key>Map Ground CYO Center</key>
			<integer>312</integer>
			<key>Map Freer CYO</key>
			<string>Chapter 1-6 Freer</string>
			<key>Map Freer CYO Center</key>
			<integer>312</integer>
		</dict>
		<key>Text</key>
		<array>
			<dict>
				<key>Header Name</key>
				<string>SPREAD OF ISLAM</string>
				<key>Text</key>
				<string>Following the death of Muhammad in 632, Islam spread quickly beyond the Arabian Peninsula to encompass the region bounded on the west by the Christian Byzantine Empire, and by the Sasanians in the east, who practiced Zoroastrianism. Muslim troops invaded Iran and by 651 brought the Sasanian lands under their control. Aware of this recent transition of power, Hyecho explains, “A long time ago, the king of this country ruled over the Arabs. … Now, the entire country has been taken over by the Arabs.” It was in the eastern domains of the former Persian Empire that Muslims first encountered Buddhists.</string>
			</dict>
			<dict>
				<key>Header Name</key>
				<string>NEW FRONTIERS</string>
				<key>Text</key>
				<string>In the first centuries of Islam, many local rulers continued to practice religions other than Islam.  As the faith expanded eastward into central Asia and modern Afghanistan, Muslims encountered Buddhist communities. When Hyecho passed through several regions that had recently come under Muslim control, he observed Buddhism thriving. Gradually over time, these areas became predominantly Muslim. Certain places, such as Bamiyan in Afghanistan, known for its famous monumental Buddha sculptures, remained Buddhist until the eleventh century.</string>
			</dict>
		</array>
		<key>Object Info</key>
		<dict>
			<key>Name</key>
			<string>Ewer Decorated With Female Figures</string>
			<key>Location</key>
			<string>Iran</string>
			<key>Period</key>
			<string>6th-7th Century</string>
			<key>Brief Intro</key>
			<string>When Hyecho traveled through eighth-century Iran and Arabia, he entered a world where Sasanian and Byzantine art and culture were still present.</string>
			<key>Additional Info</key>
			<dict>
				<key>Header Name</key>
				<string>CULTURAL PERSISTENCE</string>
				<key>Text</key>
				<string>This silver ewer is decorated with three female figures in diaphanous robes. The women might be related to Anahita, the ancient Zoroastrian goddess of abundance and fertility, either representing Anahita herself or priestesses of her cult. Pitchers of this kind were commonly used in elaborate drinking ceremonies during Sasanian rule. Such practices continued after the Arab conquest, especially in regions where Zoroastrianism was still observed. Muslim artists drew on Sasanian themes for their works and Sasanian courtly customs were popular among early rulers of the Islamic world. </string>
			</dict>
			<key>ImagePath</key>
			<string>Ewer_Decorated_With_Female_Figures</string>
		</dict>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>AWAKENED</string>
		<key>Brief Narrative</key>
		<string>Among the many sacred sites that Hyecho visited on his pilgrimage, none was more important than Bodh Gaya. It was here that Prince Siddhartha, after six years of asceticism, sat under a tree to meditate all night. At dawn, he was “awakened.” The Sanskrit term for “awakened” is “buddha.”</string>
		<key>Nav Bar Color</key>
		<string>5C8985</string>
		<key>Intro Screen Color</key>
		<string>197070</string>
		<key>Background Image</key>
		<string>Chapter 7 Background</string>
		<key>Not Expanded</key>
		<string>Chapter 7 Plus</string>
		<key>Expanded</key>
		<string>Chapter 7 Minus</string>
		<key>Maps</key>
		<dict>
			<key>Directions To Ground</key>
			<array>
				<string>Exit the gallery through the wood-paneled doorway straight ahead.</string>
				<string>Turn right and proceed up the staircase to the top.</string>
				<string>Or take the elevator located to the left of the staircase up to Level G.</string>
			</array>
			<key>Directions To Freer</key>
			<array>
				<string>Turn right at the top of the staircase or out of the elevator.</string>
				<string>Continue down the hallway, passing a small staircase on the right.</string>
				<string>Follow signs for the Auditorium and walk toward the end of the hall.</string>
				<string>Walk up the large staircase or take the elevator (right side) to Level 1.</string>
			</array>
			<key>Directions To Object</key>
			<array>
				<string>Turn left at the top of the stairs or out of the elevator.</string>
				<string>Proceed down the hallway and turn right at the end.</string>
				<string>Walk toward the “Islamic World” sign; at the end of the hall, turn right.</string>
				<string>Proceed toward the “Indian Subcontinent” sign and enter Gallery 1 on left.</string>
				<string>Walk across Gallery 1 and into Gallery 2 through the left-side door.</string>
				<string>The stone relief is on the left, just inside the gallery.</string>
			</array>
			<key>Map Linear</key>
			<string>Chapter 7 Map Sackler</string>
			<key>Map Linear Ground</key>
			<string>Chapter 7 Map Ground</string>
			<key>Map Linear Freer</key>
			<string>Chapter 7 Map Freer</string>
			<key>Map Sackler CYO</key>
			<string>Chapter 7-8 Sackler</string>
			<key>Map Sackler CYO Center</key>
			<integer>655</integer>
			<key>Map Ground CYO</key>
			<string>Chapter 1-8 Middle</string>
			<key>Map Ground CYO Center</key>
			<integer>312</integer>
			<key>Map Freer CYO</key>
			<string>Chapter 7 Map CYO</string>
			<key>Map Freer CYO Center</key>
			<integer>312</integer>
		</dict>
		<key>Text</key>
		<array>
			<dict>
				<key>Header Name</key>
				<string>SEAT OF ENLIGHTENMENT</string>
				<key>Text</key>
				<string>At the time of his death, the Buddha recommended that his followers visit four sites associated with his life. Chief among these was the site of his enlightenment, Bodh Gaya. It would become the most important place of pilgrimage in the Buddhist world. Over the centuries, until the present day, pilgrims have come from across Asia to worship at the Bodhi Tree, the place where the Buddha is said to have sat in meditation some 2500 years ago. Hyecho was so moved to stand in the presence of the Bodhi Tree that he wrote a poem.</string>
				<key>EnglishPoem</key>
				<string>Undaunted by the distance to buddhahood,
 Why should I think the Deer Park far?
 I am only daunted by the dangers of rugged mountain paths;
 I give no thought to the gusts of karmic winds. 
The eight stupas are difficult to truly see. 
They have all passed through the cosmic fires. 
How can my own vow be fulfilled? 
Yet I saw them with my own eyes this very day. </string>
				<key>ChinesePoem</key>
				<string>不慮菩提遠     焉將鹿菀遙 
只愁懸路險     非意業風飄 
八塔難誠見     參差經劫燒 
何其人願滿     目覩在今朝 
</string>
			</dict>
			<dict>
				<key>Header Name</key>
				<string>THE BUDDHA&apos;S TRIUMPH</string>
				<key>Text</key>
				<string>Perhaps the most vivid scene in the story of the Buddha’s enlightenment was the attack by Mara, the god of desire and death. Knowing that the future Buddha was seeking to find liberation from the world of suffering, Mara set out to stop him, sending an army of demons to attack. As they hurled all manner of weapons at him, he sat impassively in the posture of meditation. As the weapons approached, they turned into flower petals that fell at his feet. Finally, the Buddha-to-be touched the earth with his right hand, calling the goddess of the earth to witness his virtue. Mara and his army withdrew.  </string>
			</dict>
		</array>
		<key>Object Info</key>
		<dict>
			<key>Name</key>
			<string>Defeat of Mara</string>
			<key>Location</key>
			<string>Pakistan/Afghanistan</string>
			<key>Period</key>
			<string>2nd-3rd Century</string>
			<key>Brief Intro</key>
			<string>This beautifully preserved stone relief of Mara’s attack dates from the second or third century CE and comes from the Gandhara region of ancient Afghanistan and Pakistan. It is one in a set of four panels that depict the four main events in the Buddha’s life. The set once decorated a stupa. </string>
			<key>Additional Info</key>
			<dict>
				<key>Header Name</key>
				<string>BATTLE STAGES</string>
				<key>Text</key>
				<string>The Buddha sits in the center of the scene, beneath the bower of the Bodhi Tree.  He is attacked on all sides by Mara’s minions, some in the form of animals. The artist portrays the action by depicting Mara three times. On the right, he draws his sword, ready to do battle. On the immediate left, he raises his arm in despair as his attendant leads him away. Finally, at the far left, he sits alone, demoralized in defeat, staring off into the distance, his head in his hand. </string>
			</dict>
			<key>ImagePath</key>
			<string>Defeat_of_Mara</string>
		</dict>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>WORSHIP</string>
		<key>Brief Narrative</key>
		<string>We end where, in many ways, Hyecho’s journey began: the Buddha’s final instructions to his disciples before he passed into nirvana. When the Buddha was about to die, he told his followers that after his death, they should visit four places: the place where he was born, the place where he achieved enlightenment, the place of his first sermon, and the place where he passed into nirvana. This statement inspired the Buddhist practice of pilgrimage. Hyecho visited all four places. </string>
		<key>Nav Bar Color</key>
		<string>965163</string>
		<key>Intro Screen Color</key>
		<string>802D3A</string>
		<key>Background Image</key>
		<string>Chapter 8 Background</string>
		<key>Not Expanded</key>
		<string>Chapter 8 Plus</string>
		<key>Expanded</key>
		<string>Chapter 8 Minus</string>
		<key>Maps</key>
		<dict>
			<key>Directions</key>
			<array>
				<string>Turn around and walk toward the red stone relief to the right.</string>
				<string>It is just to the left of the door and has two sides.</string>
				<string>Find the side with the stupa (not the wheel).</string>
			</array>
			<key>Map Linear</key>
			<string>Chapter 8 Map Linear</string>
			<key>Map Sackler CYO</key>
			<string>Chapter 7-8 Sackler</string>
			<key>Map Sackler CYO Center</key>
			<integer>655</integer>
			<key>Map Ground CYO</key>
			<string>Chapter 1-8 Middle</string>
			<key>MapGround CYO Center</key>
			<integer>312</integer>
			<key>Map Freer CYO</key>
			<string>Chapter 8 Map CYO</string>
			<key>Map Freer CYO Center</key>
			<integer>312</integer>
		</dict>
		<key>Text</key>
		<array>
			<dict>
				<key>Header Name</key>
				<string>RELICS</string>
				<key>Text</key>
				<string>The Buddha also told his disciples what to do with his body. He said that he should be cremated and that his ashes should be buried in a mound built at a crossroads. He called the mound a stupa. After his cremation his remains were divided among groups of his followers, who are said to have erected eight (or ten) stupas at different locations in northern India, each stupa containing a relic of the Buddha. In his travel journal, Hyecho mentions what he calls “the eight great stupas.” </string>
			</dict>
			<dict>
				<key>Header Name</key>
				<string>STUPAS</string>
				<key>Text</key>
				<string>After the Buddha passed into nirvana, he was no longer present in the world or in any of the heavens. All that remained were his relics. Stupas thus became the primary sites of Buddhist worship, the remnants of the Buddha’s presence. Thousands of stupas would be erected in the centuries after the Buddha’s death, first in India and then across the continent of Asia. These stupas took different architectural forms in different Buddhist countries. For example, the pagoda, found across China, Korea, and Japan, is a form of a stupa. </string>
			</dict>
		</array>
		<key>Object Info</key>
		<dict>
			<key>Name</key>
			<string>Bharhut Stupa</string>
			<key>Location</key>
			<string>Shunga Dynasty</string>
			<key>Period</key>
			<string>2nd century BCE</string>
			<key>Brief Intro</key>
			<string>One of the great stupa complexes was at Bharhut in northern India. The stupa was surrounded by beautifully carved railings, one of which depicted the proper way to worship at a stupa. This piece, dating from second century BCE, is a fragment from that sandstone railing. </string>
			<key>Additional Info</key>
			<dict>
				<key>Header Name</key>
				<string>RITUAL MOVEMENT</string>
				<key>Text</key>
				<string>The piece shows the stupa in the center. Its dome is decorated with garlands of flowers, its base is decorated by the handprints of pilgrims. Above, celestial beings bring offerings. Below, a couple pays obeisance. The artist depicts their movement in an ingenious way. Although there are six figures shown, there are really only two, a man on the right and a woman on the left. First, they stand with joined hands, then they walk around the stupa in a clockwise direction, then they kneel before it. Having removed their turbans, they bow their heads to touch it. </string>
			</dict>
			<key>ImagePath</key>
			<string>Bharhut_Fence_King_Visits_The_Buddha</string>
		</dict>
	</dict>
</array>
</plist>
