<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Chapter</key>
		<string>Chapter 1</string>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>Chapter 2</string>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>Chapter 3</string>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>Chapter 4</string>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>Chapter 5</string>
		<key>monk</key>
		<string>Good Job!

This is the head of one of the monks depicted in the mural. Note that this monk does not have a beard, which distinguishes him and his companion to the upper right from the ascetics on the left side of the fragment. 
</string>
		<key>monk-picture</key>
		<string>monk</string>
		<key>lady</key>
		<string>Good job! 
The crossed legs indicate that the lady depicted is dancing. If the lady is the wealthy courtesan
and patron Shrimati, it suggests an unusual element in the murals, since she generally would not
be dancing in the presence of the Buddha.</string>
		<key>lady-picture</key>
		<string>lady</string>
		<key>diety</key>
		<string>Good Job!

This is the head of a deity. The deity’s head is adorned with jewels and is surrounded by a blue halo. Deities were often present during the Buddha’s sermons, which begin with the standard phrase, “Thus did I hear.”
</string>
		<key>diety-picture</key>
		<string>diety</string>
		<key>homage</key>
		<string>Good Job!

These are the hands and chest of a bearded monk. His beard and the protruding ribs on his chest suggest that he may be an ascetic. This is the same figure as the one standing to his left. It shows movement of the ascetic from standing to kneeling in reverence to the Buddha. 
</string>
		<key>homage-picture</key>
		<string>homage</string>
		<key>woman</key>
		<string>Good Job!

This scantily dressed lady may be Shrimati, a wealthy courtesan and patron of the Buddha. After her death, the Buddha displayed her corpse to a young monk who had fallen in love with her as a lesson in impermanence and suffering. 
</string>
		<key>woman-picture</key>
		<string>woman</string>
		<key>blue</key>
		<string>Good Job!

These are the clothes of the ascetic, who is wearing a patchwork robe and holding a monk’s staff. The cool palette of the robe and other aspects of the painting, with many blues and greens, suggest possible Persian inspiration.
</string>
		<key>blue-picture</key>
		<string>blue</string>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>Chapter 6</string>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>Chapter 7</string>
	</dict>
	<dict>
		<key>Chapter</key>
		<string>Chapter 8</string>
		<key>0</key>
		<string>Stupas usually housed the relics of the Buddha or his famous disciples. Though this image could have depicted the Buddha’s passage into nirvana, because of the absence of other elements of that scene, it is more likely that it represents an actual stupa.</string>
		<key>1</key>
		<string>Here, a woman and a man are depicted. The woman, identified by her anklets, bare breasts, and long hair, stands reverently at the left. Next to her is a man kneeling at the left side of the stupa. Behind him is actually the same male figure moving clockwise around the stupa.</string>
		<key>2</key>
		<string>Here there is a celestial being hovering over the stupa. He is holding flowers as an offering. On his left is a large tree, and below him is a smaller tree. The smaller tree is meant to be further away, providing a sense of depth in the carving. This reinforces the idea of walking 360 degrees around the stupa.</string>
		<key>3</key>
		<string>Here there is another celestial being hovering over the stupa. He is holding a garland as an offering. Again, the sense of depth is noticeable from the trees. The larger tree to his right is closer, while the tree below him is further away.</string>
		<key>4</key>
		<string>Here the same man and woman from earlier are depicted once again. This time, the woman is kneeling at the right side of the stupa, and behind her, the man is now facing forward as he continues to walk clockwise around the stupa. To her right, that same man is now standing in reverence.</string>
		<key>5</key>
		<string>As you can now see, the artist skillfully depicts both motion and depth into the carving. What first looked like six figures worshiping the stupa is actually only two figures in motion, a man depicted four times, and a woman depicted twice. Additionally, the different sizes of the trees provide a sense of depth.</string>
	</dict>
</array>
</plist>
